<%= form_tag('/images', :method => 'get', :id => 'search_form') do %>
	<input type="search" name="search" value="<%= params[:search] %>" placeholder="Search term" />
	<input type="submit" value="Go" />
<% end %>

<%= will_paginate @images %>

<% @images.each do |image| %>
	<figure>
		<a href="/images/<%= image.id %>?page=<%= params[:page] || 1 %>">
		    <img src="/downloads/<%= image.name %>" alt="<%= image.name %>" />
		    <figcaption><%= image.name %> <date datetime="<%= image.date_modified %>"><%= time_ago_in_words(image.date_modified) %> ago</date></figcaption>
		</a>
	</figure>
<% end %>

<%= will_paginate @images, :page_links => false %>