<div class="pagination">
	<a href="/images/?page=<%= params[:page] %>">Back</a>
</div>

<% if flash[:notice] %>
	<p id="notice"><%= flash[:notice]%></p>
<% end %>

<figure class="large">
	<a href="<%= @image.url %>">
	    <img src="/downloads/<%= @image.name %>" alt="<%= @image.name %>" />
	    <figcaption><%= @image.name %> <date datetime="<%= @image.date_modified %>"><%= time_ago_in_words(@image.date_modified) %> ago</date></figcaption>
	</a>
</figure>